.navbar-custom-color {
  background-color: #da0037;
}
navbar-logo-text {
  font-family: "";
}
.navigate-button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 100;
  padding: 3px;
  background-color: #da0037;
  border: solid #ffffff 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}
.navbar-text {
  font-family: "Montserrat", sans-serif;
}

.left-link-items-style {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.right-link-items-style {
}

.logo-photo {
  margin-right: 10px;
}

.logo-text {
  margin-top: 3px;
}

.navbar-padding-corrected {
  padding-bottom: 3px;
  padding-top: 3px;
}
