.node {
  width: 25px;
  height: 25px;
  border: 1px solid #a2dbfa;
  display: inline-block;
}

.node-finish {
  background-image: url(../../images/house.png);
  background-position: center;
  background-size: cover;
}

.node-start {
  background-image: url(../../images/bot.png);
    background-position: center;
    background-size: cover;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #e70869;
    border-radius: 100%;
  }

  50% {
    background-color: #af0069;
  }

  75% {
    transform: scale(1.2);
    background-color: #a70d61;
  }

  100% {
    transform: scale(1);
    background-color: #ffa299;
  }
}

.node-wall {
  background-color: #368b85;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
