.node {
  width: 25px;
  height: 25px;
  border: 1px solid #a2dbfa;
  display: inline-block;
}

.node-block {
  display: inline-block;
}

.node-finish {
  background-image: url(../images/house.png);
    background-position: center;
    background-size: cover;
    border-style: hidden;
}

.node-start {
  background-image: url(../images/bot.png);
    background-position: center;
    background-size: cover;
}

.alig {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.node-wall {
  background-color: #368b85;
}

.node-shortest-path {
  background-color: yellow;
}
